body {
  width: 100%;
  background-color: bisque;
  text-align: center;
}

.table-menu {
  text-align: center;
  background-color: rgb(127, 233, 196);
}

.table-menu div[class=col]:hover {
  background-color: rgb(10, 158, 106);
}

.table-body {
  background-color: rgb(127, 233, 196);
}

h1 {
  font-family: cursive;
}

h4 {
  font-family: "Architects Daughter", cursive;
  font-weight: normal;
}

h4 i {
  color: rgb(247, 81, 89);
}

.table-body table {
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(38, 236, 170);          
}
