body {
  width: 100%;
  background-color: bisque;
  text-align: center;
}

.table-menu {
  background-color: rgb(127, 233, 196);
}

.table-menu td:hover {
  background-color: rgb(10, 158, 106);
}

.table-menu table {
  width: 100%;
  text-align: center;
}

h1 {
  font-family: cursive;
}

h4 {
  font-family: "Architects Daughter", cursive;
  font-weight: normal;
}

h4 i {
  color: red;
}
